.input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.input-box span.details {
    color: white;
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.input-box input,
select {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid,
.input-box select:focus,
.input-box select:valid {
    border-color: #ea6016;
}

.text-placeholder {
    color: red;
    font-style: italic;
    font-size: 14px;
}