header {
  background-color: #111111;
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 5%;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #272727;
  transition: all 0.5s ease-in-out;
  z-index: 10;
}

.header_logo {
  max-height: 33px;
  cursor: pointer;
}

.header_nav_links li {
  font-family: "Roboto", sans-serif;
  font-weight: 700px;
  font-size: 20px;
  color: var(--white);
  text-decoration: none;
}

.header_nav_links a {
  font-family: "Roboto", sans-serif;
  font-weight: 700px;
  font-size: 20px;
  color: var(--white);
  text-decoration: none;
}

.header_nav_links button {
  font-family: "Roboto", sans-serif;
  font-weight: 700px;
  font-size: 20px;
  color: var(--white);
  text-decoration: none;
}

.header_nav_links {
  list-style: none;
  text-align: center;
  margin-top: 15px;
}

.header_nav_links li {
  display: inline-block;
  padding: 0px 20px;
  position: relative;
}

.header_nav_links li a {
  transition: all 0.3s ease 0s;
}

.header_nav_links li a:hover {
  color: var(--primary);
}

.header_nav_links > li > a {
  position: relative;
}

.header_nav_links > li > a::before {
  content: "";
  height: 2px;
  width: 0;
  background-color: var(--red);
  position: absolute;
  bottom: -5px;
  transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.header_nav_links > li:hover > a::before {
  width: 100%;
}

.header_form {
  position: relative;
}

.header_right {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 10px;
}

.header_right_down {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.menu {
  padding: 0px;
}

.right-0 {
  right: 0;
}

header {
  position: relative;
  line-height: 80px;
  transition: 0.6s;
  transition-property: line-height;
}

header.sticky{
  line-height: 80px;
}

header .menu{
  position: relative;
  display: flex;
  justify-content: center;
  list-style: none;
  user-select: none;
}

.menu-item > a{
  color: #fff;
  font-size: 1em;
  text-decoration: none;
}

.menu-item > a:hover{
  color: #ea6016;
  transition: 0.3s;
}

.sub-menu{
  width: 400px;
  position: absolute;
  background: #23252B;
  line-height: 10px;
  list-style: none;
  border-radius: 0 0 5px 5px;
  pointer-events: none;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s;
  transition-property: transform, opacity;
  padding: 5px;
}

.menu-item:hover .sub-menu{
  pointer-events: all;
  transform: translateY(0);
  opacity: 1;
}

.sub-item{
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  position: relative;
  padding: 10px 0;
  cursor: pointer;
  box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
}

.sub-item a{
  color: #fff;
  font-size: 1em;
  text-decoration: none;
}

.sub-item p{
  padding-top: 15px;
  color: white;
  font-size: 14px;

}

.sub-item:hover{
  background: #ea6016;
}

.sub-item:last-child:hover{
  border-radius: 0 0 5px 5px;
}
//navbar
